.banner-wrapper {
  min-height: calc(100dvh - 118px);
  background-image: var(--banner-url-mobile);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;

  @media (screen(md)) {
    background-image: var(--banner-url-desktop);
    padding: 50px 100px;
    min-height: 720px;
  }

  .banner-text {
    margin-bottom: 60px;
    line-height: 2rem;

    @media (screen(md)) {
      line-height: 3rem;
    }
  }
}