form {
  // margin-top: 20px;

  a.checkbox-label {
    text-decoration: underline;
  }

  .checkbox-label {
    font-size: 0.875rem;
    font-weight: 600;
    color: rgba(85, 46, 13, 1);
    margin-left: 10px;
  }

  .submit-button {
    margin-top: 10px;
  }

  .address-field input {
    font-weight: 700;
  }
}