/* Indentação CKeditor*/

.cke5-custom-block-indent-1 {
  margin-left: 40px !important;
}

.cke5-custom-block-indent-2 {
  margin-left: 80px !important;
}

.cke5-custom-block-indent-4 {
  margin-left: 160px !important;
}

.cke5-custom-block-indent-5 {
  margin-left: 200px !important;
}

.cke5-custom-block-indent-6 {
  margin-left: 240px !important;
}

.cke5-custom-block-indent-7 {
  margin-left: 280px !important;
}

.cke5-custom-block-indent-8 {
  margin-left: 320px !important;
}

.cke5-custom-block-indent-9 {
  margin-left: 360px !important;
}

.cke5-custom-block-indent-10 {
  margin-left: 400px !important;
}

.cke5-custom-block-indent-11 {
  margin-left: 440px !important;
}

.cke5-custom-block-indent-12 {
  margin-left: 480px !important;
}

.cke5-custom-block-indent-13 {
  margin-left: 520px !important;
}

.cke5-custom-block-indent-14 {
  margin-left: 560px !important;
}

.cke5-custom-block-indent-15 {
  margin-left: 600px !important;
}

.cke5-custom-block-indent-16 {
  margin-left: 640px !important;
}

.cke5-custom-block-indent-17 {
  margin-left: 680px !important;
}