@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.container {
  max-width: 1080px;
  margin: 0 auto;

  @media (max-width: 600px) {
    padding: 0 20px;
  }
}

.text-overlap {
  background-image: linear-gradient(0deg, #0000008c 1%, #00000000 50%);
}