/* @import '@/styles/drupal/drupalGlobals.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-size: 16px;
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.container {
  max-width: 1080px;
  margin: 0 auto;

  @media (max-width: 600px) {
    padding: 0 20px;
  }
}

/* input[type="text"],
input[type="email"],
input[type="number"] {
  background-color: white;
  border: 1px solid rgba(200, 197, 197, 1)

  &::placeholder {
    color: rgba(200, 197, 197, 1);
  }
} */



/* Classes do CKEditor - Plugin "Alinhamento de texto" */
.text-align-center{
  text-align: center;
}

.text-align-right{
  text-align: end;
}

.text-align-justify{
  text-align: justify;
}

/* Classes customizadas */
.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.extra-pequeno {
  font-size: clamp(12px, 1vw, 12px);
}

.pequeno {
  font-size: clamp(14px, 1.5vw, 16px);
}

.grande {
  font-size: clamp(22px, 2vw, 22px);
}

.medio {
  font-size: clamp(14px, 1.5vw, 14px);
}

.semi-grande {
  font-size: clamp(16px, 1.8vw, 20px);
}

.muito-grande {
  font-size: clamp(20px, 3vw, 36px);
}

.extra-grande {
  font-size: clamp(40px, 5vw, 64px);
}

.grande-plus {
  font-size: clamp(24px, 3vw, 36px);
}

.super-grande {
  font-size: clamp(20px, 3vw, 40px);
}

.pequeno-plus {
  font-size: clamp(12px, 1.3vw, 18px);
}

.semi-medio {
  font-size: clamp(13px, 1.6vw, 20px);
}

.medio-plus {
  font-size: clamp(16px, 1.9vw, 22px);
}

.super-muito-grande {
  font-size: clamp(22px, 3vw, 40px);
}

.extra-pequeno-plus {
  font-size: clamp(10px, 1.2vw, 16px);
}