.fields-box {
  // margin-top: 20px;

  :global(.MuiTextField-root:not(:first-child)) {
    margin-top: 35px !important;
  }

  label {
    z-index: 3;
  }

  .helper-text-link {
    color: black;
    text-decoration: underline;
  }

  .checkboxes-box {
    margin-bottom: 10px;
  
    :global(label) {
      margin-bottom: -10px;
    }
  }
}