.form-box {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  header {
    background-color: $locci-red;
    font-size: 1.25rem;
    color: white;
    padding: 15px 80px;
    font-weight: 600;
    position: relative;
    z-index: 2;
    border-top: 2px solid white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  main {
    

    form {
      height: 100%;
    }

    :global(.MuiFormControl-root), :global(.form-checkbox) {
      margin: 20px 0 0;
      
      &:first-child {
        margin-top: 0;
      }
    }
  }

  main, .footer-button {
    width: 85%;
    margin: 10px auto 0;
  }
}

.tabs {
  
  [class="MuiTab-root"] {
    display: none;
    padding: 0;
  }
}