.form-box {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;

  header {
    background-color: $locci-red;
    font-size: 1.25rem;
    color: white;
    padding: 15px 80px;
    font-weight: 600;
  }

  main {
    width: 85%;
    margin: 25px auto 0;
  }
}

.tabs {
  
  [class="MuiTab-root"] {
    display: none;
    padding: 0;
  }
}