.fields-box {
  // margin-top: 20px;

  :global(.MuiTextField-root:not(:first-child)), :global(.form-checkbox:not(:first-child)) {
    margin-top: 35px !important;
  }

  .checkboxes-box {
    margin-bottom: 10px;
  
    :global(label) {
      margin-bottom: -10px;
    }
  }
}