.button {
  font-size: 0.93rem;
  font-weight: 600;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.primary {
    //background-color: $locci-snow;
    background-color: blue;
    color: #ffffff;
  }

  &:hover {
    background-color: #08e85e;
  }

  &:disabled {
    cursor: not-allowed; /* Cursor não permitido */
    opacity: 0.6; /* Opacidade reduzida */
  }
}